TROSTE_UI_PORT=8741
TROSTE_ONION_PORT=8742
TOR_SOCKS_PORT=9060
TROSTE_MAX_ACTIVE_NODES=500
TROSTE_MAX_TOTAL_NODE_MIB=64
TROSTE_MAX_CONCURRENT_RESOLVES=4
# TOR_BINARY=C:\ruta\a\tor.exe
# TROSTE_DATA_DIR=C:\ruta\privada\troste-onion
# TROSTE_MANAGE_TOR=true
# Solo al administrar Tor externamente: una direccion Onion v3 valida.
# TROSTE_ONION_ADDRESS=<56-caracteres-base32>.onion
